* {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-brand {
	font-weight: bold;
}

.container, #navbar {
	background: #00BCD4;
	background-color: #00BCD4;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

#map, #side {
	float:left;
	margin-top: 51px;
}

#side {
	background-color: #ECEFF1;
	height:100vh;
	width:60%;
}

#mapContainer {
	width: 40%;
	height: calc(100vh - 51px);
	top: 0;
	right: 0;
	position: fixed;
}
#map {
	height: 100%;
	width: 100%;
}

form.form-inline.my-2.my-lg-0 {
    margin-top: 8px;
}

.activity {
	width: 100%;
	padding: 15px;
	background-color: #FAFAFA;
}

.activity img {
	height: 100pxs;
}

#searchIn {
	border: none;
}

#searchBtn {
	line-height: 1;
	padding: 3px;
	background-color: white;
}